@model Domain.Entities.Cliente

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(function () {
        
        @*$.ajax({
            url: "@Url.Action("Teste")",
              data: { Id: 1 },
              success: function (data) {
                  alert(data);
              },
            type:"json"
          });*@

       $.ajax({
            url: "@Url.Action("Teste")",
            data:{Id:2},
            success:function (data) {
                alert(data);
            } 
        });

    });
</script>

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cliente</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data)
            @Html.ValidationMessageFor(model => model.Data)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Endereco.Logradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Endereco.Logradouro)
            @Html.ValidationMessageFor(model => model.Endereco.Logradouro)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Endereco.Pais)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Endereco.Pais.Id, (IEnumerable<SelectListItem>)ViewBag.Pais)
            @Html.ValidationMessageFor(model => model.Endereco.Pais)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Endereco.Estado)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Endereco.Estado.Id, (IEnumerable<SelectListItem>)ViewBag.Estado)
            @Html.ValidationMessageFor(model => model.Endereco.Estado)
        </div>
        
         <div class="editor-field">
            @Html.DropDownListFor(model => model.Endereco.Cidade.Id, (IEnumerable<SelectListItem>)ViewBag.Cidade)
            @Html.ValidationMessageFor(model => model.Endereco.Cidade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Endereco.Cep)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Endereco.Cep)
            @Html.ValidationMessageFor(model => model.Endereco.Cep)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.DataNascimento)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DataNascimento)
            @Html.ValidationMessageFor(model => model.DataNascimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Horario)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Horario)
            @Html.ValidationMessageFor(model => model.Horario)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

